BASE_URL=

ADMIN_ID=
ADMIN_EMAIL=
ADMIN_PASS=
ADMIN_NAME=

REP_MAN_ID=
REP_MAN_EMAIL=
REP_MAN_PASS=
REP_MAN_NAME=

EMP_ID=
EMP_EMAIL=
EMP_PASS=
EMP_NAME=

EMP2_ID=
EMP2_EMAIL=
EMP2_PASS=
EMP2_NAME=

EMP3_ID=
EMP3_EMAIL=
EMP3_PASS=
EMP3_NAME=
